<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Cevap Kartları</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-lg-4 col-md-6">
			<%= link_to blocks_galery_new_path do %>
				<div class='panel panel-primary'>
					<div class='panel-heading'>
						<div class='row'>
							<div class='col-xs-3'>
								<i class='fa fa-columns fa-5x'></i>
							</div>
							<div class='col-xs-9 text-right'>
								<div class='huge'>Galeri</div>
								<div>Zengin içerikli çoktan seçme listesi</div>
							</div>
						</div>
					</div>
				</div>
			<% end %>						
		</div>
		<div class="col-lg-4 col-md-6">
			<%= link_to blocks_text_new_path do %>
				<div class="panel panel-green">                                               
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-tasks fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">Hızlı Metin</div>
								<div>Düz metin cevaplar	</div>
							</div>
						</div>
					</div>
				</div>                    
			<% end %>                   
		</div>
		<div class="col-lg-4 col-md-6">
			<%= link_to blocks_free_text_new_path do %>
				<div class="panel panel-yellow">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-shopping-cart fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">Serbest Metin</div>
								<div>Resimli cevaplar</div>
							</div>
						</div>
					</div>                        
				</div>
			<% end %>                    
		</div>
		<div class="col-lg-4 col-md-6">
			<a href="#">
				<div class="panel panel-red">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-support fa-5x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div class="huge">Servis</div>
								<div>Dışarıdan bilgi almak için kullanılır</div>
							</div>
						</div>
					</div>                        
				</div>
			</a>                    
		</div>
	</div>
	<!-- /.row -->	           
</div>